<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Properties -->
  <xacro:property name="mesh_scale" value="0.001 0.001 0.001"/>

  <!-- Macros -->
  <xacro:macro name="visual_mesh" params="mesh_file color_rgba">
    <visual>
      <geometry>
        <mesh filename="${mesh_file}" scale="${mesh_scale}"/>
      </geometry>
      <material name="material_${color_rgba}">
        <color rgba="${color_rgba}"/>
      </material>
    </visual>
  </xacro:macro>

  <!-- Links -->
  <link name="base_link">
    <xacro:visual_mesh mesh_file="package://pinc_open_driver/meshes/Gripper_Palm_Shell_w_motor_v1.stl" color_rgba="0 0 1 1"/>
  </link>

  <link name="coupler"/>

  <link name="right_arm">
    <xacro:visual_mesh mesh_file="package://pinc_open_driver/meshes/gripper_right_arm.stl" color_rgba="0.0 0.5 1.0 1.0"/>
  </link>

  <link name="left_arm">
    <xacro:visual_mesh mesh_file="package://pinc_open_driver/meshes/gripper_left_arm.stl" color_rgba="0.0 0.5 1.0 1.0"/>
  </link>

  <link name="right_finger">
    <xacro:visual_mesh mesh_file="package://pinc_open_driver/meshes/gripper_right_finger.stl" color_rgba="0 0 1 1"/>
  </link>

  <link name="left_finger">
    <xacro:visual_mesh mesh_file="package://pinc_open_driver/meshes/gripper_left_finger.stl" color_rgba="0 0 1 1"/>
  </link>


</robot>
