<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pinc_open">
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="gripper_macros.xacro"/>

  <xacro:pinc_open_gripper
    name="pinc_open"
    use_mock_hardware="$(arg use_mock_hardware)"
    prefix="$(arg prefix)" />

</robot>



